.home-wrap {
  border-bottom: 1px solid #ccc;
}

.center-wrap {
  max-width: 1024px;
  margin: 0 auto;
}

.profile-wrap {
  display: flex;
  align-items: center;
  height: 150px;

  .profile-icon {
      width: 20%;
  }
}

.content-wrap {
  display: flex;
  justify-content: space-between;

  .recent-log-wrap {
    width: 20%;
    border: 1px solid #ccc;
  }
  .battle-log-wrap {
    width: 75%;
    border: 1px solid #ccc;
  }
}
