$brawlers: amber, 8-bit, shelly, rosa, barley, bo, bea, bibi, bibi, brock, bull, carl, colette, colt, crow, darryl, dynamike, el-primo, emz, frank, gale, gene, jacky, jessie, leon, max, mike, mortis, mr-p, nani, nita, pam, penny, piper, poco, rico, sandy, spike, sprout, surge, tara, tick, undefined;

.portrait-wrap{
  width: 100%;
  height: 100%;
  position: relative;
  background-size: cover;

  @each $item in $brawlers {
    &.brawler-#{$item} {
      background-image: url("../../../../public/Brawler/Portraits/#{$item}.png");
    }
  }
}
